/* ==UserStyle==
@name           Do Art Daily (dad.gallery) Custom Style
@namespace      dad.gallery
@version        0.2.6
@license        CC0-1.0
@preprocessor   stylus
==/UserStyle== */

primary=#e77364
background=#282834
surface=#443d45
on-surface=#f3f7f3

@-moz-document domain("dad.gallery")
    avatar-style()
        border-radius 100px

    body
        font-family "Roboto", sans-serif !important
        color on-surface
        background-color background

    a
        color primary

    div
        color on-surface

    .redCard a img,
    .col-lg-7 a img
        margin 0 !important
        avatar-style()

    #wrapper
        background #443d45 !important

    #wrapper .container-fluid, .house-container, #wrapper .container
        background-color background
        margin 0 auto !important
        padding 28px 16px 0px 16px
        border-radius 16px 16px 0px 0px
        min-height 100%

    .navbar
        background surface !important

    .card-header
        color on-surface
        background surface
        background-color initial
        border-bottom none
        font-size 1.2rem
        font-weight normal
        padding 12px 16px 0

    .card-body
        padding 16px 16px

    .card
        background surface !important
        border-radius 16px
        box-shadow 2px 2px 4px #00000024
        border initial

    a, th, td, a
        color on-surface !important

    .footer
        width 100%

    .footer .container
        color on-surface
        width 100%
        max-width 100%
        margin 0
        background-color background !important

    .footer .container .row
        color on-surface
        max-width 600px
        margin auto
        background-color background !important
        padding-top 40px
        padding-bottom 40px

    .fullSizeAvatar img
        avatar-style()

    .row ul
        width 100%

    div.card:nth-child(2) p a img
        width 80px
        height 80px
        border-radius 8px
        margin-left 4px

    .submissionrow li
        border-radius 20px

    .digg_pagination a, .digg_pagination span, .digg_pagination em
        border-color primary

    .avatarWithName
        background-color initial

    // Text on profile page
    .avatarUserName
        font-family "Roboto", sans-serif

    .house-participant
        margin 4px 0

    .modal-header,
    .modal-body
        background-color #222
        color #eee

    .badge-info
        background-color primary
        margin-left 8px


    .prestige1,
    .prestige2,
    .prestige3,
    .prestige4,
    .prestige5
        border-radius 0 !important

    .table td,
    .table th
        border-top none

    // Removing image by
    #wrapper div.container-fluid div.row div.col-lg-3 div.unselectable div div
        display none

    .card.homeCardStyle.blueCard
        background-color surface

    .dropdown-content
        background-color surface
        border-radius 0 8px 8px 8px
        box-shadow 0px 8px 8px black
        z-index 10 // fixing overlap on users page

    .dropdown-content a:hover
        color primary !important
        background-color initial

    .btn
        background-color surface
        border-radius 8px
        border initial

    .btn-primary
        background-color primary
        color on-surface
        border-radius 64px

    #date
        background-color surface
        color on-surface
        border initial
        border-radius 8px

    input
        background-color primary
        color on-surface
        border-radius 16px
        border initial

    textarea
        background-color background
        padding 16px
        color on-surface
        border-radius 16px
        border initial

    .navbar-burger
       background-color primary
       border initial

    #date_year, #date_month
        background-color surface
        padding 8px
        color on-surface
        border-radius 8px
        border initial

    #submission_nsfw_level, #submission_title, #submission_time, #postfrequency, #submission_drawing, #searchname, .col-4
        background-color background
        color on-surface
        border-radius 8px
        border initial

    #submission_title
        padding 8px 16px

    .nav-link.active
        background-color background !important

    .submissionNotes.followed-user
        background-color initial

    .copyright > a:nth-child(2)
        color #FFE135 !important

    .comment-card
        .card-header
            padding 16px 16px 0
        .card-body
            border-radius 16px 16px 0 0
            padding 16px

    .comment-card:target
        border 1px solid primary
        .card-header
            background-color initial
            border-bottom initial
            padding-bottom 0
        .card-body
            border-radius 16px 16px 0 0
            background-color initial
        div
            padding 16px

    // User page progress bar
    .progress-bar
        background-color primary

    .progress
        border-radius 4px
        height 18px

    // Text on progress bar
    .levelOverlay
        font-family "Roboto", sans-serif

@-moz-document regexp(".*dad.gallery/submissions([^/]*|[/])"), regexp(".*dad.gallery/users/\\d+/submissions.*")
    .col-lg-2
        width 10px
        display none

    .col-lg-8
        flex 0 0 100%
        max-width 100%

    .submissionrow
        display grid
        grid-template-columns repeat(6, 1fr)
        grid-template-rows auto
        grid-gap 1px
        padding 0px 12px

    .submissionIcon
        width 100%
        height 100%
        margin 0px

    .submissionIcon img
        width 100%
        height auto
        border-radius 8px

    .submissionrow li
        padding 2px

    .submissionAuthor,
    .submissionNotes,
    .submissionTitle
        padding 4px 4px
        height auto
        bottom 0
        font-size 12pt
        background-color #00000000
        border-radius 8px
        text-shadow 0px 0px 3px #000
        border-radius 0 0 8px 8px

    .submissionAuthor img
        width 20px
        avatar-style()

    .submissionNotes
        width auto
        top auto
        right 0

    @media screen and (max-width 1200px)
        .submissionrow
            grid-template-columns repeat(4, 1fr)

    @media screen and (max-width 992px)
        .submissionrow
            grid-template-columns repeat(3, 1fr)

    @media screen and (max-width 576px)
        .submissionrow
            grid-template-columns repeat(2, 1fr)

@-moz-document regexp(".*dad.gallery/?")
    table.table.table-sm tbody tr:nth-child(even)
        background-color rgba(255, 255, 255, .05)

    .table .thead-dark th
        border-bottom none
        background-color rgba(255, 255, 255, .05)

    div.table-responsive table tbody tr td a img
        width 35px !important
        margin 2px 0 !important
        avatar-style()

    html body div#wrapper div.container-fluid div.row div.col-lg-3 div.card.homeCardStyle.blueCard div.card-body
        text-align left !important
